@font-face {
	font-family: 'Gilroy';
	src: url('/static/fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/static/fonts/Gilroy/SemiBold/Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/static/fonts/Gilroy/Regular/Gilroy-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/static/fonts/Gilroy/Light/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}




@font-face {
    font-family: 'crm-stroyka';
    src: url('/static/fonts/Icons/crm-stroyka.eot');
    src: url('/static/fonts/Icons/crm-stroyka.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Icons/crm-stroyka.woff') format('woff'),
         url('/static/fonts/Icons/crm-stroyka.ttf') format('truetype'),
         url('/static/fonts/Icons/crm-stroyka.svg#crm-stroyka') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ifont {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	
	&:before {
		font-family: 'crm-stroyka';
		font-style: normal;
		font-weight: normal;
		font-smoothing: antialiased;
	}

}
.---icon-arrow-up:before{content:'\0041';}
.---icon-lighting:before{content:'\0042';}
.---icon-bell:before{content:'\0043';}
.---icon-exit:before{content:'\0044';}
.---icon-database:before{content:'\0045';}
.---icon-electro-plug:before{content:'\0046';}
.---icon-basket-fill:before{content:'\0047';}
.---icon-loop:before{content:'\0048';}
.---icon-location:before{content:'\0049';}
.---icon-arrow-down:before{content:'\004a';}
.---icon-arrow-right:before{content:'\004b';}
.---icon-basket-linear:before{content:'\004c';}
.---icon-menu-dashboard:before{content:'\004d';}
.---icon-menu-report:before{content:'\004e';}
.---icon-menu-base:before{content:'\004f';}
.---icon-menu-clients:before{content:'\0050';}
.---icon-menu-settings:before{content:'\0051';}
.---icon-menu-rent:before{content:'\0052';}
.---icon-menu-finance:before{content:'\0053';}
.---icon-menu-orders:before{content:'\0054';}
.---icon-add-circle:before{content:'\0055';}
.---icon-check:before{content:'\0056';}
.---icon-check-linear:before{content:'\0057';}
.---icon-user:before{content:'\0058';}
.---icon-arrow-left:before{content:'\0059';}
.---icon-list:before{content:'\005a';}
.---icon-edit:before{content:'\0061';}
.---icon-close:before{content:'\0062';}
.---icon-sunglass:before{content:'\0063';}
.---icon-head-linear:before{content:'\0064';}
.---icon-phone-linear:before{content:'\0065';}
.---icon-upload:before{content:'\0066';}
.---icon-print:before{content:'\0067';}
.---icon-calendar:before{content:'\0068';}
.---icon-camera:before{content:'\0069';}