/* Bootstrap 4 grid */
.---container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .---container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .---container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .---container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .---container {
    max-width: 1240px;
  }
}

.---container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.---row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &.---_sm {
    margin-right: -10px;
    margin-left: -10px;

    .col {
      padding-right: 10px;
      padding-left: 10px;
    }

  }

  &.---_xs {
    margin-right: -7.5px;
    margin-left: -7.5px;

    .col {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
    
  }

}

.---no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col {
    padding-right: 0;
    padding-left: 0;
  }

}

.---col,
.---col-1,
.---col-2,
.---col-3,
.---col-4,
.---col-5,
.---col-6,
.---col-7,
.---col-8,
.---col-9,
.---col-10,
.---col-11,
.---col-12,
.---col-sm-1,
.---col-sm-2,
.---col-sm-3,
.---col-sm-4,
.---col-sm-5,
.---col-sm-6,
.---col-sm-7,
.---col-sm-8,
.---col-sm-9,
.---col-sm-10,
.---col-sm-11,
.---col-sm-12,
.---col-md-1,
.---col-md-2,
.---col-md-3,
.---col-md-4,
.---col-md-5,
.---col-md-6,
.---col-md-7,
.---col-md-8,
.---col-md-9,
.---col-md-10,
.---col-md-11,
.---col-md-12,
.---col-lg-1,
.---col-lg-2,
.---col-lg-3,
.---col-lg-4,
.---col-lg-5,
.---col-lg-6,
.---col-lg-7,
.---col-lg-8,
.---col-lg-9,
.---col-lg-10,
.---col-lg-11,
.---col-lg-12,
.---col-xl-1,
.---col-xl-2,
.---col-xl-3,
.---col-xl-4,
.---col-xl-5,
.---col-xl-6,
.---col-xl-7,
.---col-xl-8,
.---col-xl-9,
.---col-xl-10,
.---col-xl-11,
.---col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.---col {
  width: auto;
  flex: 1 1 auto;
}

.---col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.---col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.---col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.---col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.---col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.---col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.---col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.---col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.---col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.---col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.---col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.---col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 476px) {
  .---col-xs-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .---col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .---col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .---col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .---col-xs-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .---col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .---col-xs-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .---col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .---col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .---col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .---col-xs-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .---col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .---col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .---col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .---col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .---col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .---col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .---col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .---col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .---col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .---col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .---col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .---col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .---col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .---col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .---col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .---col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .---col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .---col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .---col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .---col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .---col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .---col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .---col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .---col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .---col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .---col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .---col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .---col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .---col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .---col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .---col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .---col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .---col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .---col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .---col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .---col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .---col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .---col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .---col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .---col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .---col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .---col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .---col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .---col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .---col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .---col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .---col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .---col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .---col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.---d-none {
  display: none !important;
}

.---d-inline-block {
  display: inline-block !important;
}

.---d-block {
  display: block !important;
}

.---d-flex {
  flex-wrap: wrap;
  display: flex !important;
}

.---d-inline-flex {
  display: inline-flex !important;
}

.---flex-wrap {
  flex-wrap: wrap !important;
}

@media (min-width: 476px) {
  .---xs-d-none {
    display: none !important;
  }
  .---xs-d-inline-block {
    display: inline-block !important;
  }
  .---xs-d-block {
    display: block !important;
  }
  .---xs-d-flex {
    display: flex !important;
  }
  .---xs-d-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 576px) {
  .---sm-d-none {
    display: none !important;
  }
  .---sm-d-inline-block {
    display: inline-block !important;
  }
  .---sm-d-block {
    display: block !important;
  }
  .---sm-d-flex {
    display: flex !important;
  }
  .---sm-d-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .---md-d-none {
    display: none !important;
  }
  .---md-d-inline-block {
    display: inline-block !important;
  }
  .---md-d-block {
    display: block !important;
  }
  .---md-d-flex {
    display: flex !important;
  }
  .---md-d-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .---lg-d-none {
    display: none !important;
  }
  .---lg-d-inline-block {
    display: inline-block !important;
  }
  .---lg-d-block {
    display: block !important;
  }
  .---lg-d-flex {
    display: flex !important;
  }
  .---lg-d-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .---xl-d-none {
    display: none !important;
  }
  .---xl-d-inline-block {
    display: inline-block !important;
  }
  .---xl-d-block {
    display: block !important;
  }
  .---xl-d-flex {
    display: flex !important;
  }
  .---xl-d-inline-flex {
    display: inline-flex !important;
  }
}

.---flex-row {
  flex-direction: row !important;
}

.---flex-column {
  flex-direction: column !important;
}

.---justify-content-start {
  justify-content: flex-start !important;
}

.---justify-content-end {
  justify-content: flex-end !important;
}

.---justify-content-center {
  justify-content: center !important;
}

.---justify-content-between {
  justify-content: space-between !important;
}

.---justify-content-around {
  justify-content: space-around !important;
}

.---align-items-start {
  align-items: flex-start !important;
}

.---align-items-end {
  align-items: flex-end !important;
}

.---align-items-center {
  align-items: center !important;
}

.---align-content-start {
  align-content: flex-start !important;
}

.---align-content-end {
  align-content: flex-end !important;
}

.---align-content-center {
  align-content: center !important;
}

.---align-content-between {
  align-content: space-between !important;
}

.---align-content-around {
  align-content: space-around !important;
}

.---align-self-start {
  align-self: flex-start !important;
}

.---align-self-end {
  align-self: flex-end !important;
}

.---align-self-center {
  align-self: center !important;
}

@media (min-width: 476px) {
  .---xs-flex-row {
    flex-direction: row !important;
  }
  .---xs-flex-column {
    flex-direction: column !important;
  }
  .---xs-justify-content-start {
    justify-content: flex-start !important;
  }
  .---xs-justify-content-end {
    justify-content: flex-end !important;
  }
  .---xs-justify-content-center {
    justify-content: center !important;
  }
  .---xs-justify-content-between {
    justify-content: space-between !important;
  }
  .---xs-justify-content-around {
    justify-content: space-around !important;
  }
  .---xs-align-items-start {
    align-items: flex-start !important;
  }
  .---xs-align-items-end {
    align-items: flex-end !important;
  }
  .---xs-align-items-center {
    align-items: center !important;
  }
  .---xs-align-content-start {
    align-content: flex-start !important;
  }
  .---xs-align-content-end {
    align-content: flex-end !important;
  }
  .---xs-align-content-center {
    align-content: center !important;
  }
  .---xs-align-content-between {
    align-content: space-between !important;
  }
  .---xs-align-content-around {
    align-content: space-around !important;
  }
  .---xs-align-self-start {
    align-self: flex-start !important;
  }
  .---xs-align-self-end {
    align-self: flex-end !important;
  }
  .---xs-align-self-center {
    align-self: center !important;
  }
}

@media (min-width: 576px) {
  .---sm-flex-row {
    flex-direction: row !important;
  }
  .---sm-flex-column {
    flex-direction: column !important;
  }
  .---smjustify-content-start {
    justify-content: flex-start !important;
  }
  .---smjustify-content-end {
    justify-content: flex-end !important;
  }
  .---smjustify-content-center {
    justify-content: center !important;
  }
  .---smjustify-content-between {
    justify-content: space-between !important;
  }
  .---smjustify-content-around {
    justify-content: space-around !important;
  }
  .---smalign-items-start {
    align-items: flex-start !important;
  }
  .---smalign-items-end {
    align-items: flex-end !important;
  }
  .---smalign-items-center {
    align-items: center !important;
  }
  .---smalign-content-start {
    align-content: flex-start !important;
  }
  .---smalign-content-end {
    align-content: flex-end !important;
  }
  .---smalign-content-center {
    align-content: center !important;
  }
  .---smalign-content-between {
    align-content: space-between !important;
  }
  .---smalign-content-around {
    align-content: space-around !important;
  }
  .---smalign-self-start {
    align-self: flex-start !important;
  }
  .---smalign-self-end {
    align-self: flex-end !important;
  }
  .---smalign-self-center {
    align-self: center !important;
  }
}

@media (min-width: 768px) {
  .---md-flex-row {
    flex-direction: row !important;
  }
  .---md-flex-column {
    flex-direction: column !important;
  }
  .---md-justify-content-start {
    justify-content: flex-start !important;
  }
  .---md-justify-content-end {
    justify-content: flex-end !important;
  }
  .---md-justify-content-center {
    justify-content: center !important;
  }
  .---md-justify-content-between {
    justify-content: space-between !important;
  }
  .---md-justify-content-around {
    justify-content: space-around !important;
  }
  .---md-align-items-start {
    align-items: flex-start !important;
  }
  .---md-align-items-end {
    align-items: flex-end !important;
  }
  .---md-align-items-center {
    align-items: center !important;
  }
  .---md-align-content-start {
    align-content: flex-start !important;
  }
  .---md-align-content-end {
    align-content: flex-end !important;
  }
  .---md-align-content-center {
    align-content: center !important;
  }
  .---md-align-content-between {
    align-content: space-between !important;
  }
  .---md-align-content-around {
    align-content: space-around !important;
  }
  .---md-align-self-start {
    align-self: flex-start !important;
  }
  .---md-align-self-end {
    align-self: flex-end !important;
  }
  .---md-align-self-center {
    align-self: center !important;
  }
}

@media (min-width: 992px) {
  .---lg-flex-row {
    flex-direction: row !important;
  }
  .---lg-flex-column {
    flex-direction: column !important;
  }
  .---lg-justify-content-start {
    justify-content: flex-start !important;
  }
  .---lg-justify-content-end {
    justify-content: flex-end !important;
  }
  .---lg-justify-content-center {
    justify-content: center !important;
  }
  .---lg-justify-content-between {
    justify-content: space-between !important;
  }
  .---lg-justify-content-around {
    justify-content: space-around !important;
  }
  .---lg-align-items-start {
    align-items: flex-start !important;
  }
  .---lg-align-items-end {
    align-items: flex-end !important;
  }
  .---lg-align-items-center {
    align-items: center !important;
  }
  .---lg-align-content-start {
    align-content: flex-start !important;
  }
  .---lg-align-content-end {
    align-content: flex-end !important;
  }
  .---lg-align-content-center {
    align-content: center !important;
  }
  .---lg-align-content-between {
    align-content: space-between !important;
  }
  .---lg-align-content-around {
    align-content: space-around !important;
  }
  .---lg-align-self-start {
    align-self: flex-start !important;
  }
  .---lg-align-self-end {
    align-self: flex-end !important;
  }
  .---lg-align-self-center {
    align-self: center !important;
  }
}

@media (min-width: 1200px) {
  .---xl-flex-row {
    flex-direction: row !important;
  }
  .---xl-flex-column {
    flex-direction: column !important;
  }
  .---xl-justify-content-start {
    justify-content: flex-start !important;
  }
  .---xl-justify-content-end {
    justify-content: flex-end !important;
  }
  .---xl-justify-content-center {
    justify-content: center !important;
  }
  .---xl-justify-content-between {
    justify-content: space-between !important;
  }
  .---xl-justify-content-around {
    justify-content: space-around !important;
  }
  .---xl-align-items-start {
    align-items: flex-start !important;
  }
  .---xl-align-items-end {
    align-items: flex-end !important;
  }
  .---xl-align-items-center {
    align-items: center !important;
  }
  .---xl-align-content-start {
    align-content: flex-start !important;
  }
  .---xl-align-content-end {
    align-content: flex-end !important;
  }
  .---xl-align-content-center {
    align-content: center !important;
  }
  .---xl-align-content-between {
    align-content: space-between !important;
  }
  .---xl-align-content-around {
    align-content: space-around !important;
  }
  .---xl-align-self-start {
    align-self: flex-start !important;
  }
  .---xl-align-self-end {
    align-self: flex-end !important;
  }
  .---xl-align-self-center {
    align-self: center !important;
  }
}