/* Font */
@font__main: "Gilroy", Helvetica, Arial, sans-serif;
@font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
@font__pre: "Courier 10 Pitch", Courier, monospace;

@px: 18rem;


/* Colors */
@bgColor: #eef1f6;
@mainColor: #fed34f;
@acentColor: #2a1f3a;
@textColor: #2a1f3a;


/* Media queries */
@mediaXxl: ~'(max-width: 1440px)';
@mediaXl: ~'(max-width: 1199px)';
@mediaLg: ~'(max-width: 991px)';
@mediaMd: ~'(max-width: 767px)';
@mediaSm: ~'(max-width: 575px)';
@media475: ~'(max-width: 475px)';
@media375: ~'(max-width: 375px)';
@media320: ~'(max-width: 320px)';