@media @media375 {

	.---prod-item {

		.---prod-item__thumb {
			width: 100%;
		}

		.---prod-qnty-wrapper {
			margin-top: 15px;
		}

	}

	.---page-client-in {

		.---btns-wrapper {

			.---btn {
				padding: 15px 30px !important;
			}

		}

		.---stat-wrapper {

			.---stat-item {
				width: 48%;
				margin-bottom: 15px;
			}

		}

	}

	.---page-rent-active {

		.---prod-item {

			.---prod-item__info {
				width: 100%;
				margin-bottom: 10px;
			}

			.---prod-item__thumb {
				width: 100%;
			}

		}

		.---r-side-add-block {

			.---btn {
				margin-top: 10px;
			}
			
		}

	}

	.---r-side-add-block {
		padding: 15px;
	}

	.---sale-list__item {

		.---item__header {
			padding-right: 80px;
		}

	}

	.---page-settings {

		.---doc-item {

			.---icons {

				a {
					margin: 0 5px 0 0 !important;
				}

			}

		}
		.---doc-item--avatar {

			.---icon {display: none;}

		}

	}

}