@media @mediaSm {

	#---main-content {

		footer {
			margin-top: 30px;
			padding: 15px 0;
		}

	}	


	.---block-pagination {

		.---nums {
			width: 100%;
		
			ul {
				margin: 0;
			}

		}

		.---pagination__total-count {
			margin-top: 15px;
		}

	}

	.---page-settings {

		.---field {
			margin-bottom: 15px;
		}

		.---page-switchers {

			a {

				&:after {display: none;}

			}

		}

		.---r-side-add-block {
			padding: 15px;
		}

	}

	.---page-sale {

		.---r-side-add-block {
			padding: 15px;
		}

	}

	.---sale-list__item {
		padding: 15px 15px 0;
	}

	.---page-reports {

		.---fin-report {

			.---report-item {

				.---report__period {
					margin: 15px 0 0;
				
					&:before,
					&:after {display: none;}

				}

			}

		}

	}

	.---page-rent-in {

		label {
			height: auto !important;
		}

		.---r-side-add-block {
			padding: 15px;
		}

	}



	#---page-auth {

		.---text-wrap {
			width: 300px;
			padding: 30px;
		
			.---logo {
				margin-bottom: 40px;
			}

		}

		.---bg-img {
			width: calc(100% - 300px);
		}

	}



	.---page-sets {

		.---add-new-field {
			padding: 15px;
		
			.h2 {

				&:after {
					right: -15px;
				}
				
			}

		}

	}



	.---doc-item {
		padding: 14px 15px !important;

		.---icons {
			position: relative !important;
			top: auto;
			right: auto;
			margin-top: 15px;
			transform: translate(0, 0);

			.---color {
				margin-right: 10px;
			}

			.ifont {
				margin: 0 10px 0 0;
			}

		}

	}

}