.---left-main-menu {
	width: 220px;
	background: @acentColor;

	.---logo {
		padding: 40px 28px 40px 83px;
		color: #fff;
		font-size: 26/@px;
		font-weight: 800;
		line-height: 1.2;

		img {
			width: 40px;
			left: 28px;
		}

		span {
			color: @mainColor;
		}

	}

	nav {

		a {
			font-size: 14/@px;
			padding: 25px 10px 25px 67px;
			display: block;
			position: relative;
			color: #7c6b95;
			border-right: 5px solid transparent;
		
			i {
				left: 32px;
				font-size: 16px;
			}

			&:hover {
				color: #fff;
			}

			&.---is-active {
				background: #332645;
				color: #fff;
				border-right-color: @mainColor;
			}

		}

	}



	@media @mediaSm {

		.---logo {
			padding: 20px 20px 20px 70px;
		
			img {
				left: 15px;
			}

		}

		nav {

			a {
				padding: 16px 10px 16px 50px;
			
				i {
					left: 20px;
				}

			}

		}

		.---btns {
			color: #fff;
			margin-top: 30px;
			padding: 0 15px 15px;
		}

		.---in-rent {
			margin-bottom: 15px;
			font-size: 16/@px;
		}

		.---btn {
			width: 100%;
			padding: 13px 0px;
		}

	}

}