.---t-wrapper {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

table {
	width: 100%;
	min-width: 1500px;
	border-collapse: separate;
	border-spacing: 3px 0;
	font-size: 14/@px;

	.---checkbox {
		padding: 0;
		height: 19px;
		width: 19px;
		border-radius: 2.5px;
		box-shadow: 0 0 0 #fff !important;

		&:before {
			left: 0;
		}

		&:after {
			left: 4px;
		}
		
	}

	th {
		vertical-align: middle;
		padding: 12px 13px 11px;
		text-align: left;
		color: #99a0aa;
		text-transform: uppercase;
		font-size: 12/@px;
		letter-spacing: .4px;
		background: #e3e7ed;
		font-weight: 400;

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}

	}

	td {
		vertical-align: middle;
		padding: 10px 13px;
	}

	tr {

		&:nth-child(odd) {

			td {
				background: #fff;

				&:first-child {
					border-radius: 5px 0 0 5px;
				}

				&:last-child {
					border-radius: 0 5px 5px 0;
				}

			}

		}

		&:hover {

			td {
				background: @textColor;
				color: #fff;
			}

		}

	}

	.---select {
		width: 200px;

		.---select__cur-value {
			padding: 5px 40px 5px 10px;

			i {
				right: 6px;
			}

		}

		.---select__list {
			padding: 0 10px;

			.---select__list-item {
				padding: 10px 0;
			}
			
		}

	}

}