.h1,
h1 {
	font-size: 28/@px;
}

.h2,
h2 {
	font-size: 21/@px;
}

.h3,
h3 {
	font-size: 18/@px;
}

p {
	font-size: 14/@px;
}


.---font-ebold {font-weight: 800 !important;}
.---font-sbold {font-weight: 600 !important;}
.---font-regular {font-weight: 400 !important;}
.---font-light {font-weight: 300 !important;}