.---page-clients {

	table {
		margin-top: 50px;
	}

}



.---page-client-in {

	.---devider {
		margin: 30px 0;
		height: 2px;
		background: #e3e8f0;
	}
	.---devider-mt0 {
		margin-top: 0;
	}

	.---data-block {
		margin-bottom: 30px;
		border-bottom: 2px solid #e3e8f0;
	
		.h2 {
			margin-bottom: 32px;
		}

	}

	.---btns-wrapper {

		.---btn {
			margin-right: 10px;
		}

	}

	.---stat-wrapper {

		.---stat-item {
			width: 27%;

			.---stat__icon {
				margin-bottom: 40px;
				height: 60px;
				background: @bgColor;

				img {
					top: 18px;
					height: 100%;
				}

			}

			.---stat__title {
				font-size: 16/@px;
				line-height: 1.3;
				color: #3b3151;
			}

			.---stat__num {
				font-size: 26/@px;
				margin-top: 8px;
			}

		}

	}

	.---r-side-add-block {

		.h2 {
			margin-bottom: 30px;
		}

	}

	.---block-pagination {
		padding: 0;
		margin-top: 30px;
	
		.---nums {

			ul {
				margin: 0;
			}
			
		}

	}

}