.---page-settings {

	.---devider {
		height: 2px;
		background: #e3e8f0;
		margin: 35px 0;
	}

	.---page-switchers {
		padding-bottom: 25px;
		margin-bottom: 35px;
		border-bottom: 2px solid #dee3ea;

		a {
			position: relative;
			margin-right: 61px;
			color: fadeout(@textColor, 50%);

			&.---is-active {
				color: @textColor;

				&:after {
					content: '';
					position: absolute;
					bottom: -30px;
					left: 0;
					right: 0;
					height: 2px;
					background: #000;
				}

			}

			&:last-child {
				margin-right: 0;
			}

		}

	}

	.---checkbox {
		margin-top: 13px;
	}

}

.---docs-wrapper {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #e3e8f0;
}

.---doc-item {
	background: #fff;
	margin-top: 14px;
	padding: 14px 200px 14px 15px;

	.---title {
		color: @textColor;
		margin-bottom: 3px;
		font-size: 16/@px;
	}

	.---date {
		font-size: 14/@px;
		color: fadeout(@textColor, 50%);
	}

	.---icons {
		right: 15px;

		.---color {
			width: 60px;
			height: 30px;
		}

		a {
			height: 30px;
			border-radius: 2.5px;
			margin-left: 11px;
			box-shadow: inset 0 0 0 1px fadeout(#d5dbe6, 34%);
		}

		.---history {
			color: fadeout(@textColor, 50%);
			padding: 0 15px;
			font-size: 14/@px;
		}

		.ifont {
			width: 30px;
			font-size: 16px;
			color: #b6c3da;
		}

		.---acent {
			box-shadow: 0 0 0 #fff;
			background: @mainColor;
			color: @textColor;
		}

	}

}
.---doc-item--avatar {
	padding-left: 62px;

	.---icon {
		left: 15px;
		width: 32px;
		height: 32px;
		border-radius: 2.5px;
		background: @textColor;
		color: #fff;
	}

}